﻿@using Models
@using Repositories
<button class="btn btn-primary" @onclick="@AddPlantCompShow">Add plant</button>
@if (showAddPlantComp)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirm action</h4>
                    <button type="button" class="close" @onclick="@AddPlantCompCancel">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <p>Sensor id</p>
                        <input @bind="SensorId" type="text">

                        <p>Plante</p>
                        <input @bind="PlantName" type="text">
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" @onclick="@AddPlantCompCancel">Cancel</button>
                    <button type="button" class="btn btn-primary" @onclick=@AddPlantCompOk>Submit</button>
                </div>

            </div>
        </div>
    </div>
}

@code
{
    [Parameter]
    public EventCallback OnPlantChanged { get; set; } = new EventCallback();

    [Parameter]
    public int GreenHouseId { get; set; }

    public string SensorId { get; set; }
    public string PlantName { get; set; }

    public ActualPlant Plant { get; set; } = new ActualPlant("", "");

    public PlantRepository PlantRepository { get; set; } = new PlantRepository();

    bool showAddPlantComp = false;

    void AddPlantCompShow() => showAddPlantComp = true;
    void AddPlantCompCancel() => showAddPlantComp = false;
    async void AddPlantCompOk()
    {
        showAddPlantComp = false;

        await PlantRepository.CreatePlant(GreenHouseId, PlantName, SensorId);

        await OnPlantChanged.InvokeAsync();
        SensorId = "";
        PlantName = "";


    }
}