﻿@using Repositories
@using Models
<button class="btn btn-primary" @onclick="@AddGreenHouseCompShow">Add Greenhouse</button>
@if (showAddGreenHouseComp)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirm action</h4>
                    <button type="button" class="close" @onclick="@AddGreenHouseCompCancel">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <p>Email</p>
                        <input @bind="Email" type="text">
                        <p>Navn på drivhus</p>
                        <input @bind="Name" type="text">
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" @onclick="@AddGreenHouseCompCancel">Cancel</button>
                    <button type="button" class="btn btn-primary" @onclick=@AddGreenHouseSubmit>Submit</button>
                </div>

            </div>
        </div>
    </div>
}

@code
{
    [Parameter]
    public EventCallback OnGreenHouseChanged { get; set; }

    private GreenHouseRepository GreenHouseRepository = new GreenHouseRepository();

    public GreenHouse GreenHouse { get; set; } = new GreenHouse(0, "", "");

    private string Name { get; set; } = " ";
    private string Email { get; set; } = "chris@zbc.dk";

    bool showAddGreenHouseComp = false;

    void AddGreenHouseCompShow()
    {
        showAddGreenHouseComp = true;
    }

    void AddGreenHouseCompCancel()
    {
        showAddGreenHouseComp = false;
    }

    async void AddGreenHouseSubmit()
    {
        showAddGreenHouseComp = false;
        GreenHouse = await GreenHouseRepository.CreateGreenHouse(Name, Email);

        await OnGreenHouseChanged.InvokeAsync(GreenHouse);

        Name = "";
    }
}