﻿@using Models;
@using Repositories;

<button class="btn btn-primary" @onclick="@AddPlantCompShow">Add plant</button>
@if (showAddPlantComp)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirm action</h4>
                    <button type="button" class="close" @onclick="@AddPlantCompCancel">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <p>Sensor id</p>
                        <input @bind="SensorId" type="text">

                        <p>Plante</p>
                        <input @bind="PlantName" type="text">
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" @onclick="@AddPlantCompCancel">Cancel</button>
                    <button type="button" class="btn btn-primary" @onclick=@AddPlantCompOk>Submit</button>
                </div>

            </div>
        </div>
    </div>
}