﻿@using Models
@using Repositories
<div>
    <ul>
        @if (listOfPlants.Count > 0)
        {
            @foreach (ActualPlant item in listOfPlants)
            {
                <PlantBrief SensorId=@item.Id PlantName=@item.Plant />
            }
        }
    </ul>
</div>

<AddPlantComp GreenHouseId=@GreenHouseId OnPlantChanged="UpdateListOfPlants" />

@code {

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public int GreenHouseId { get; set; }

    private List<ActualPlant> listOfPlants;

    private PlantRepository PlantRepository = new PlantRepository();

    private const string email = "chris@zbc.dk";

    public GreenHouseComp()
    {
        listOfPlants = new();
        //listOfPlants.Add(new ActualPlant("","s"));
    }

    protected override async Task OnInitializedAsync()
    {
        await UpdateListOfPlants();

    }

    public async Task UpdateListOfPlants()
    {

        listOfPlants = await PlantRepository.GetAllPlants(GreenHouseId);
        if (listOfPlants.Count > 0)
        {
            Console.WriteLine($"list of plants first element = {listOfPlants[0].Id}");
        }
        StateHasChanged();

    }
}