﻿@using Repositories
<style>    
    ul {
        list-style-type: none;
    }
</style>
﻿    @using Models;
<ul>
    @foreach (GreenHouse item in listOfGreenhouses)
    {
        <li>
            <h1>[@item.Id] @item.Name</h1>
            <GreenHouseComp  Name=@item.Name GreenHouseId=@item.Id />
            <hr />
        </li>
    }
</ul>

<AddGreenHouseComp OnGreenHouseChanged="UpdateListOfGreenHouses" />

@code {

    private List<GreenHouse> listOfGreenhouses = new List<GreenHouse>();

    private GreenHouseRepository GreenhouseRepository = new GreenHouseRepository();

    private const string email = "chris@zbc.dk";

    public int Id { get; set; }

    public GreenHouseList()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        await UpdateListOfGreenHouses();
    }

    public async Task UpdateListOfGreenHouses()
    {
        listOfGreenhouses = await GreenhouseRepository.GetAllGreenHouses(email);
        StateHasChanged();
    }
}