﻿<div>
    <h3>@PlantName</h3>
    <SensorLineGraph ValueType="temp" Id="@SensorId" />
</div>

@code {
    [Parameter]
    public string SensorId { get; set; }

    [Parameter]
    public string PlantName { get; set; }

    public PlantBrief()
    {

    }

}
