﻿<div class="row">
    <div class="col-md-8 p-4">
        <RadzenChart>
            <RadzenLineSeries Smooth="@smooth" Data="@values" Title="@ValueType" LineType="LineType.Dashed" ValueProperty="Value" CategoryProperty="DateTime">
                <!--<RadzenMarkers MarkerType="MarkerType.Square" /> -->
            </RadzenLineSeries>

            <RadzenCategoryAxis Padding="20" />
            <!--<RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" /> -->
            <RadzenValueAxis>
                <RadzenGridLines Visible="true" />
                <RadzenAxisTitle Text="@ValueType" />
            </RadzenValueAxis>
        </RadzenChart>
    </div>
</div>